<p>
  hola mundo, {{alumnos}}
</p>


<ion-list> <!--Lista de Ionic-->
  <!--ngFor : El equivalente al ciclo For con un indice/contador 
    para recorrer un arreglo-->
    <ion-item-sliding *ngFor="let alumno of alumnos; index as i">
      <ion-item>{{alumno}} </ion-item>

      <ion-item-options>
        <ion-item-option>Agregar a Favoritos</ion-item-option>
        <ion-item-option (click)="presentActionSheet()">Eliminar</ion-item-option>
      </ion-item-options>

     <!-- <ion-action-sheet trigger="eliminar-{{i}}" header="Confirma" [buttons]="actionSheetButtons"></ion-action-sheet>-->
    </ion-item-sliding>

</ion-list>
  
